.full-width-image {
  width: 100dvb;            /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
  height: 70vh;          /* Mantiene la proporción de la imagen */
  display: block;        /* Elimina el espacio extra debajo de la imagen */
}