.comfortaa-default {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Puedes ajustar el peso aquí, por ejemplo, 300, 400, 700 */
    font-style: normal;
  }
  