/* Reseteo básico */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fuente Comfortaa */
body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#root { /* Aplica el fondo al contenedor principal de tu aplicación */
  background-color: #fff9e6e1;
  min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la pantalla */
}

/* Estilos para la línea lateral en el submenú */
.ant-menu-sub.submenu-open::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #7e2d2d; /* Color vinotinto */
}